.vote-cards {
  display:block;
  margin-bottom: 10px;
}

.vote-card {
  border: 2px solid deepskyblue;
  border-radius: 4px;
  width: 50px;
  height: 70px;
  margin: 3px;
  display: inline-block;
}

.user-vote {
  margin:2px;
  padding: 3px 6px;
  border: 2px solid magenta;
}

.vote {
  margin:2px;
  padding: 3px 6px;
  border: 2px solid lightgrey;
}